:host {
  display: block;
}

.dashboard-layout {
  min-height: 12rem;
}

.dashboard-layout__nav {
  display: block;
  margin-bottom: 2.25rem;
}

.dashboard-layout__content {
  padding-top: 0.5rem;
}

.dashboard-layout__content .tab-content {
  margin-top: 0.25rem;
}
