Frontend/node_modules/
Frontend/dist/
Frontend/.angular/

Backend/__pycache__/
Backend/.venv
Backend/*.pyc
Backend/db.sqlite3

**/.env
!**/.env_modelo

**/.vscode/
**/.editorconfig

**/.angular/
**/package-lock.json

**/__pycache__/
**/*.py[cod]
**/.mypy_cache/
**/.ruff_cache/
**/.pytest_cache/

**/node_modules/
**/.npm/
**/.pnpm-store/
**/.yarn/cache/
**/.cache/
**/.angular/cache/

tmp/
temp/
**/*.tmp
**/*.swp
**/*.swo
**/*.log

**/.idea/
.DS_Store
Thumbs.db
**/.venv